<!-- /templates/customers/account.liquid -->
  <div class="st-pusher">  
{% comment %}

  For all available customer liquid tags:
    - http://docs.shopify.com/themes/liquid-variables/customer

{% endcomment %}
<section class="nav-bar">
  <div class="container">
    <h1>{{ 'customer.account.title' | t }}</h1>
  </div>
  <nav class="section-nav">
    <div class="container" role="navigation">

      <label class="title trigger" for="menu-toggle">Account Sections</label>
      <input id="menu-toggle" type="checkbox">
      <ul class="sub">
        <li class="label">My Account:</li>
        <li class="here"><a href="/account">Overview</a></li>
        <li><a href="/account/addresses">Edit Account</a></li>
        <li class="my-orders"><a href="#my-orders">My Orders</a></li>
        <li>{{ 'layout.customer.log_out'| t | customer_logout_link }}</li>
      </ul>
    </div>
  </nav>
</section>
<div class="main-content" id="skip-to-content">
  <div class="container" role="main">
    <div class="myaccount_overview">
    <fieldset class="information-container">
      <div class="excerpt">
        <h3> </h3>
        <p><strong>Email:</strong> {{customer.email}}</p>
        <p><strong>Phone:</strong> {{ customer.default_address.phone }}</p>
        <p><strong>Username:</strong> {{customer.name}}</p>
      </div>
    </fieldset><!-- [END] information-container -->
    <fieldset class="information-container clear">
      <h3>Billing Address</h3>
      {% if order.billing_address.name == '' %}
        <p class="h5">{{ order.billing_address.name }}</p>
        <p>
          {% if order.billing_address.company != '' %}
            {{ order.billing_address.company }}<br>
          {% endif %}
          {{ order.billing_address.street }}<br>
          {{ order.billing_address.city }}<br>
          {% if order.billing_address.province != '' %}
            {{ order.billing_address.province }}<br>
          {% endif %}
          {{ order.billing_address.zip | upcase }}<br>
          {{ order.billing_address.country }}<br>
          {{ order.billing_address.phone }}
        </p>
      {% else %}
        <p class="h5">{{ customer.name }}</p>
        {{ customer.default_address | format_address }}
      {% endif %}
    </fieldset><!-- [END] information-container -->

    <fieldset class="information-container">
      <h3>Shipping Address</h3>
       {% if order.shipping_address.name == '' %}
      <p class="h5">{{ order.shipping_address.name }}</p>
    <p>
      {% if order.shipping_address.company != '' %}
        {{ order.shipping_address.company }}<br>
      {% endif %}
      {{ order.shipping_address.street }}<br>
      {{ order.shipping_address.city }}<br>
      {% if order.shipping_address.province != '' %}
        {{ order.shipping_address.province }}<br>
      {% endif %}
      {{ order.shipping_address.zip | upcase }}<br>
      {{ order.shipping_address.country }}<br>
      {{ order.shipping_address.phone }}
    </p>
      {% else %}
      <p>Your shipping address is the same as billing or has not been completed. </p>
      {% endif %}
    </fieldset><!-- [END] information-container -->

    <p class="clear"><a class="button" href="/account/addresses"><span>Edit My Account Profile</span></a></p>
 </div>
  {% paginate customer.orders by 20 %}
<div class="grid" id="my-orders">
  <div class="grid__item two-thirds medium-down--one-whole">
    <h2 class="h3">{{ 'customer.orders.title' | t }}</h2>
	<h3>You don't have any orders placed yet. <a href="/collections/boots">Go shopping!</a></h3>
    {% comment %}
      If we have past orders, loop through each one
    {% endcomment %}
    {% if customer.orders.size != 0 %}

      <div class="table-wrap">
        <table class="full table--responsive" id="orders" cellspacing="0">
          <thead>
            <tr>
              <th class="col1">{{ 'customer.orders.order_number' | t }}</th>
              <th class="col1">{{ 'customer.orders.date' | t }}</th>
              <th class="col1">{{ 'customer.orders.payment_status' | t }}</th>
              <th class="col1">{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th class="col1">{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
              <tr class="table__section">
                <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <hr class="hr--clear">

    {% else %}

      <p>{{ 'customer.orders.none' | t }}</p>

    {% endif %}
  </div>
</div>

{% if paginate.pages > 1 %}
  {% include 'pagination' %}
{% endif %}
{% endpaginate %}
  
  </div>
</div>    
</div>
