<!-- /templates/cart.liquid -->
{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}
<div class="main-content" id="skip-to-content">
<div class="container" role="main">
{% comment %}{% if cart.item_count > 0 %}  
  {% assign date_month = 'now' | date: '%b' %}
  {% if date_month != 'Jan' %}
  <div class="banner-cart">
    <a class="banner-cart-link" href="https://www.kulkea.com/product/talvi-x-ski-boot-bag/" target="_blank"><img src="{{ 'FLYLOW_2.png' | asset_url }}"></a>
  </div> 
  {% endif %}
{% endif %}{% endcomment %}
<form action="/cart" method="post" novalidate class="cart">                  
{% if cart.item_count > 0 %}
      <div id="top" class="cart-page-top">
       <div class="cart-menu-link"> 
        <p>
          <a href="{{shop.url}}/collections/all">« continue shopping</a>
          &nbsp;|&nbsp; <a href="#" id="empty_cart">empty bag</a>
          &nbsp;|&nbsp; <a href="">checkout »</a>
        </p>
        </div>
        {% assign date_month = 'now' | date: '%b' %}
        {% if date_month == 'Jans' %}
        <div class="top_cart_banner">
          <a class="top_cart_banner-link" href="javascript:void(0);"><img src="https://cdn.shopify.com/s/files/1/0014/7115/2237/files/APXSKI_116_PROMO_4_CHECKOUT_BANNERS_v1A.jpg?v=1579613412"></a>
        </div>
        {% endif %}
          {% if date_month == 'Jans' %}
        <div class="top_cart_banner">
          <a class="top_cart_banner-link" href="javascript:void(0);"><img src="https://cdn.shopify.com/s/files/1/0014/7115/2237/files/APXSKI_116_PROMO_4_CHECKOUT_BANNERS_v1A.jpg?v=1579613412"></a>
        </div>
        {% endif %}
      </div>
      
     <div class="cart-items-table">             
      <table class="cart" id="cart-items" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th class="col1"></th>
            <th class="col2"></th>
            <th class="col3">Item</th>
            <th class="col4">Qty</th>
            <th class="col5">Price</th>
            <th class="col6">Subtotal</th>
          </tr>
		</thead><tbody>            
	 {% for item in cart.items %}
        <tr><td class="col1"><a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="remove-link"><span class="icon-trash" aria-hidden="true"></span></a></td>
            <td class="col2"> 
              <a href="{{ item.url | within: collections.all }}" class="cart__image">
                  {% comment %}
                        More image size options at:
                          - http://docs.shopify.com/themes/filters/product-img-url
                      {% endcomment %}
                      <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                    </a></td>
            <td class="col3"><h3><a href="{{ item.url }}" class="h4 cart__product-name">
              <span class="name">{{ item.product.title }}</span>
              </a></h3>
                    {% unless item.variant.title contains 'Default' %}
                      <p class="cart__product-meta">
                        {{ item.variant.title }}
                      </p>
                    {% endunless %}

                    {% if settings.product_vendor_enable %}
                      <p class="cart__product-meta">{{ item.vendor }}</p>
                    {% endif %}

                    {% assign property_size = item.properties | size %}
                    {% if property_size > 0 %}
                      {% for p in item.properties %}
                        {% assign first_character_in_key = p.first | truncate: 1, '' %}
                        {% unless p.last == blank or first_character_in_key == '_' %}
                          {{ p.first }}:

                          {% if p.last contains '/uploads/' %}
                            <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                          {% else %}
                            {{ p.last }}
                          {% endif %}

                          <br>
                        {% endunless %}
                      {% endfor %}
                    {% endif %}
                    </td>
            <td class="col4 qty"><input type="number" name="updates[]" id="updates_{{ item.key }}" class="qty" value="{{ item.quantity }}" min="0" data-id="{{ item.key }}"></td>
            <td class="col5">
                    <span class="cart__price">
                      
                      {{ item.line_price | divided_by: item.quantity | money}}</span></td>
            <td class="col6">{% if item.original_line_price != item.line_price %}
                      <small class="cart__price cart__price--strikethrough">{{ item.original_line_price | money }}</small>
                    {% endif %}

                    <span class="cart__price">{{ item.line_price | money }}</span></td> </tr>          
     {% endfor %} 
        </tbody></table>
       <br>
       <div class="bottom_banner_klarna">
         {% assign date_month = 'now' | date: '%b' %}
         {% if date_month == 'Jans' %}
          <div class="bottom_cart_banner" align="left">
       		 <a class="bottom_cart_banner-link" href="javascript:void(0);"><img src="https://cdn.shopify.com/s/files/1/0014/7115/2237/files/APXSKI_116_PROMO_4_CHECKOUT_BANNERS_v2A.jpg?v=1579613446"></a>
          </div>
         {% endif %}
         
         {% if date_month == 'Jans' %}
          <div class="bottom_cart_banner" align="left" style="display:none;">
       		 <a class="bottom_cart_banner-link" href="javascript:void(0);"><img src="https://cdn.shopify.com/s/files/1/0014/7115/2237/files/APXSKI_116_PROMO_4_CHECKOUT_BANNERS_v2A.jpg?v=1579613446"></a>
          </div>
         {% endif %}
          <div class="bottom_cart_banner-right" align="right"> 
             <!-- Placement v1 -->
            <klarna-placement
              data-id="aa6fe539-1da7-4552-9faa-c8c00673f59c" 
              data-purchase_amount="{{cart.total_price}}"
              data-theme="default"
            ></klarna-placement>
            <!-- end Placement -->
           </div>
       </div>
        </div>
        <p class="update-cart"><button type="submit" name="update" class="button update-cart">{{ 'cart.general.update' | t }}</button></p>
  	<table class="cart" id="cart-totals">
							<tbody>
								<tr class="total">
									
									<td class="summary">
									
										<div class="item">
											

											<p class="red">TOTAL: &nbsp;{{ cart.total_price | money }}</p>
                                    
                                          <p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
											<div class="checkout buttons button-set">	<div class="checkout">
		            		<button type="submit" name="checkout" class="btn cart__checkout">
                {{ 'cart.general.checkout' | t }} <span class="icon icon-arrow-right" aria-hidden="true"></span>
              </button>
		              	</div></div>

											<p class="continue"><a href="{{shop.url}}/collections/all">continue shopping</a></p>

											<!-- Begin Official PayPal Seal --><p><a href="https://www.paypal.com/us/verified/pal=brian%40apexskiboots%2ecom" target="_blank"><img src="https://www.paypal.com/en_US/i/icon/verification_seal.gif" alt="Official PayPal Seal" border="0"></a></p><!-- End Official PayPal Seal -->

											<p><img src="{{ 'APXSKI_HASSLEFREE_SEAL_SM.png' | asset_url }}"></p>
										</div>

									</td>
								</tr>
							</tbody>
</table> 

</form>

 {% else %}
      {% comment %}
        The cart is empty
      {% endcomment %}
      <div class="main-content" id="skip-to-content">
			<div class="container" role="main">
				<p class="message">Your shopping bag is currently empty. {{ 'cart.general.continue_browsing_html' | t }}</p>					
			</div>
		</div>
    {% endif %} 
  </div></div>